/*===============================
HTML初期化 ver 2019.10.15
===============================*/

body {
    margin: 0;
    padding: 0;
    zoom: 1
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

p,
dl,
dt,
dd,
em,
form,
address,
ul,
li {
    margin: 0;
    padding: 0;
    font-style: normal;
}


/* HTML5用 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

li {
    padding: 0;
    margin: 0;
}

input,
select {
    vertical-align: middle;
}


/* tableタグ*/

th,
td {
    padding: 0;
}

caption {
    text-align: left;
}


/* リンク設定 */

a {
    outline: 0;
    border: 0;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    a {
        transition: none !important;
    }
}

a img {
    border: 0;
}


/* TELリンク */

@media screen and (min-width: 768px) {
    a[href^="tel:"] {
        pointer-events: none;
    }
}

img {
    border: 0;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
}

html {
    -webkit-text-size-adjust: none;
    zoom: 1;
}

body,
html {
    height: 100%;
}

p {
    text-align: justify;
    text-justify: inter-ideograph;
}


/*============================================
基本CSS
===========================================*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100px;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

@media screen and (min-width:1281px) and (max-width:1399px) {
    html {
        -ms-text-size-adjust: 92%;
        -webkit-text-size-adjust: 92%;
        font-size: 92px
    }
}

@media screen and (min-width:1153px) and (max-width:1280px) {
    html {
        -ms-text-size-adjust: 90%;
        -webkit-text-size-adjust: 90%;
        font-size: 90px
    }
}

@media screen and (min-width:1025px) and (max-width:1152px) {
    html {
        -ms-text-size-adjust: 90%;
        -webkit-text-size-adjust: 90%;
        font-size: 90px
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    html {
        -ms-text-size-adjust: 90%;
        -webkit-text-size-adjust: 90%;
        font-size: 90px
    }
}

@media screen and (max-width:767px) {
    html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        font-size: 100px
    }
}

@media screen and (max-width:360px) {
    html {
        -ms-text-size-adjust: 85%;
        -webkit-text-size-adjust: 85%;
        font-size: 85px
    }
}

body {
    font-family: "游ゴシック", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    position: relative;
    font-size: 0.16rem;
    letter-spacing: 0.04em;
    color: #333333;
    line-height: 1;
    min-height: 100%;
    overflow-x: hidden;
    min-width: 1000px;
}

input,
select,
textarea {
    font-family: "游ゴシック", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif!important;
}

@media screen and (max-width:767px) {
    body {
        min-width: inherit;
        overflow-x: hidden;
    }
    body.menu_open {
        overflow: hidden;
    }
}


/*=========================
PC / スマホの適用
=========================*/

.sp_only {
    display: none;
}

@media screen and (max-width: 767px) {
    .pc_only {
        display: none;
    }
    .sp_only {
        display: block;
    }
}


/*=============================
ヘッダー
=============================*/

header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding-top: 0.26rem;
    padding-bottom: 0.26rem;
    left: 0;
    box-sizing: border-box;
}

@media screen and (max-width:767px) {
    header {
        padding-top: 0.18rem;
        padding-bottom: 0.18rem;
    }
}

header.fixed {
    background: #FFF;
}

@media screen and (max-width: 900px) {
    header {
        top: 0;
    }
}


/* ロゴ */

header h1 {
    margin-left: 0.4rem;
}

@media screen and (max-width:1152px) {
    header h1 {
        margin-left: 0.2rem;
    }
}

@media screen and (max-width:1000px) and (min-width:901px) {
    body.toppage header h1 {
        max-width: 1.80rem;
    }
    body.toppage header h1 a {
        display: block;
        background-position: center;
        background-size: contain;
    }
    body.toppage header.fixed h1 a {
        background-position: center;
        background-size: contain;
    }
    body.toppage header h1 img {
        height: auto;
    }
}

@media screen and (max-width:900px) {
    header h1 {
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    header h1 {
        margin-left: 0.1rem;
        text-align: left;
        z-index: 9;
        position: relative;
    }
}

header h1 img {
    height: 0.41rem;
}

@media screen and (max-width:767px) {
    header h1 img {
        height: 0.32rem;
    }
}


/* ナビゲーション */

header ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.4rem;
}

@media screen and (max-width:1152px) {
    header ul {
        right: 0.2rem;
    }
}

@media screen and (max-width:900px) {
    header ul {
        position: relative;
        top: inherit;
        right: inherit;
        margin: auto;
        text-align: center;
        padding-top: 0.2rem;
    }
}

@media screen and (max-width:767px) {
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 3;
        background-color: rgba(30, 34, 44, 0.95);
        height: 100%;
        box-sizing: border-box;
        display: none;
    }
    header ul {
        width: 100%;
        padding-top: 24%;
        transform: translateY(0%);
    }
}

header ul li {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.1em;
}

@media screen and (max-width:767px) {
    header ul li {
        display: block;
        line-height: 3;
    }
    header ul li.active a {
        border-bottom: 2px solid #ffffff;
    }
}

header ul li::after {
    content: "/";
    font-weight: 100;
    color: #FFF;
    padding-left: 0.14rem;
    padding-right: 0.1rem;
}

header.fixed ul li::after {
    content: "/";
    color: #000;
}

@media screen and (max-width:1152px) {
    header ul li::after {
        padding-left: 0.06rem;
        padding-right: 0.04rem;
    }
}

@media screen and (max-width:767px) {
    header ul li::after {
        display: none;
        padding: 0;
    }
}

header ul li.no_slash {
    padding-right: 0.2rem;
}

@media screen and (max-width:767px) {
    header ul li.no_slash {
        padding-right: 0;
    }
}

header ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 0.16rem;
    padding-bottom: 0.06rem;
    position: relative;
}


/*header ul li a:hover {
	border-bottom: 2px solid #fff;
}
.fixed ul li a:hover {
	border-bottom: 2px solid #008090;
}*/

header ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
}

.fixed ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
}

header ul li a:hover::before,
.fixed ul li a:hover::before {
    width: 100%;
}

header.fixed ul li a {
    color: #000;
}

body.menu_open header ul li a {
    color: #FFF;
}

@media screen and (max-width:767px) {
    header ul li a {
        font-size: 0.18rem;
    }
}

header ul li:last-child a {
    border: 1px solid #FFF;
    padding: 0.1rem;
    font-size: 0.14rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.2rem;
    background-image: url("../img/link_arrow_white.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 0.06rem;
}

header ul li:last-child a::before {
    display: none;
}

header.fixed ul li:last-child a {
    border: 1px solid #fff;
    background-image: url("../img/link_arrow_black.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 0.06rem;
}

@media screen and (max-width:1152px) {
    header ul li:last-child a {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}

@media screen and (max-width:767px) {
    header ul li:last-child a {
        border: 0;
        padding: 0 0 0.06rem 0;
        font-size: 0.18rem;
        background-image: none;
        border: none;
    }
    header.fixed ul li:last-child a {
        border: none;
    }
}

header ul li:last-child a:hover {
    background-color: #FFF;
    color: #111;
    background-image: url("../img/link_arrow_black.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 0.06rem;
}

header.fixed ul li:last-child a:hover {
    background-color: #111;
    color: #FFF;
    background-image: url("../img/link_arrow_white.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 0.06rem;
}

header ul li.no_slash::after,
header ul li:last-child::after {
    display: none;
}


/* スマホ時のメールボタン */


/* #sp_mail_btn {
	position: absolute;
	top: 0.2rem;
	right: 0.7rem;
	width: 0.3rem;
	z-index: 10;
} */


/* スマホ時の閉じるボタン */

#sp_menu_close {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#sp_menu_close a {
    font-size: 0.18rem;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    background-image: url("../img/sp_menu_close_btn.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.14rem;
    padding-left: 0.24rem;
}


/*=========================
スマホナビ
=========================*/


/* 開閉ボタン */

#SPnaviBtn {
    display: none;
}

@media screen and (max-width: 767px) {
    #SPnaviBtn {
        position: absolute;
        top: 0.2rem;
        right: 0.1rem;
        width: 0.5rem;
        height: 0.3rem;
        border-radius: 4px;
        color: #1a90d0;
        text-align: center;
        font-size: 0.55em;
        display: block;
        z-index: 10;
    }
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

#SPmenuBars {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 70%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

header.fixed .menu-trigger span {
    background-color: #000;
}

body.menu_open .menu-trigger span {
    background-color: #FFF;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 49%;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 50%;
}

@media screen and (max-width: 340px) {
    .menu-trigger.active span:nth-of-type(3) {
        bottom: 45%;
    }
}


/*=============================
コンテンツボックス
=============================*/

section {
    overflow-x: hidden;
}


/* 幅1300pxのボックス */

.container1300 {
    max-width: 1300px;
    margin: auto;
    position: relative;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}


/* 幅1100pxのボックス */

.container1100 {
    max-width: 1100px;
    margin: auto;
    position: relative;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}


/*=========================
各セクションのタイトル
=========================*/

.section_ttl {
    text-align: center;
    line-height: 1.7;
    padding-top: 0.6rem;
    /* background-image: url("../img/ttl_logo.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 0.4rem; */
    padding-bottom: 0.4rem;
}

@media screen and (max-width:767px) {
    .section_ttl {
        padding-top: 0.4rem;
        /* background-image: url("../img/ttl_logo.png");
		background-position: center top;
		background-repeat: no-repeat;
		background-size: auto 0.28rem; */
        padding-bottom: 0.4rem;
    }
}

.section_ttl h3 {
    font-size: 0.35rem;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    letter-spacing: 0.1em;
}

@media screen and (max-width:767px) {
    .section_ttl h3 {
        font-size: 0.24rem;
    }
}

.section_ttl h3 span {
    font-size: 0.23rem;
    display: block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

@media screen and (max-width:767px) {
    .section_ttl h3 span {
        font-size: 0.16rem;
    }
}

.section_ttl h3 span em {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 0.22rem;
    position: relative;
    top: 0.02rem;
}

@media screen and (max-width:767px) {
    .section_ttl h3 span em {
        font-size: 0.15rem;
    }
}


/*=========================
続きを読むボタン
=========================*/

.more_btn,
.more_btn_white {
    max-width: 3rem;
    width: 100%;
    margin: auto;
}

@media screen and (max-width:767px) {
    .more_btn,
    .more_btn_white {
        max-width: 2.25rem;
    }
}

.more_btn a {
    text-align: center;
    display: block;
    font-size: 0.16rem;
    color: #0084d1;
    border: 1px solid #0084d1;
    padding: 0.2rem;
    border-radius: 40px;
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .more_btn a {
        font-size: 0.15rem;
        padding: 0.14rem;
    }
}

.more_btn a:hover {
    background-color: #0084d1;
    color: #FFF;
}

.more_btn_white a {
    text-align: center;
    display: block;
    font-size: 0.16rem;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 0.2rem;
    border-radius: 40px;
    text-decoration: none;
    background-image: url("../img/link_arrow_white.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 0.06rem;
}

@media screen and (max-width:767px) {
    .more_btn_white a {
        font-size: 0.15rem;
        padding: 0.14rem;
    }
}

.more_btn_white a:hover {
    background-color: #FFF;
    color: #282C3C;
    background-image: url("../img/link_arrow_kon.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 0.06rem;
}


/*=========================
フッター
=========================*/

footer {
    background-color: #D4D5D8;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    color: #181A31;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:767px) {}

footer .container1100 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    footer .container1100 {
        box-sizing: border-box;
    }
}

footer .footer_left {
    width: 30%;
}

@media screen and (max-width:767px) {
    footer .footer_left {
        width: 100%;
    }
}

footer .footer_left h2 {
    max-width: 2.9rem;
    padding-bottom: 0.2rem;
}

footer .footer_left a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

@media screen and (max-width:767px) {
    footer .footer_left h2 {
        max-width: 2.2rem;
        margin: auto;
    }
}

footer .footer_left address {
    font-size: 0.16rem;
    font-weight: 700;
    line-height: 1.8;
}

footer .footer_left address br {
    display: none;
}

@media screen and (max-width:767px) {
    footer .footer_left address br {
        display: block;
    }
}

@media screen and (max-width:767px) {
    footer .footer_left address {
        font-size: 0.14rem;
    }
}

footer .footer_left address span {
    font-size: 0.14rem;
    display: block;
}

footer .footer_center {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:767px) {
    footer .footer_center {
        width: 100%;
        display: block;
        padding-top: 0.3rem;
    }
}

footer .footer_center ul {
    width: 33%;
}

@media screen and (max-width:767px) {
    footer .footer_center ul {
        width: 100%;
    }
}

footer .footer_center li {
    line-height: 2.7;
}

@media screen and (max-width:767px) {
    footer .footer_center li {
        line-height: 2;
        width: 50%;
        float: left;
    }
}

footer .footer_center li a {
    font-size: 0.14rem;
    color: #181A31;
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-width:768px) {
    footer .footer_center li a {
        white-space: nowrap;
    }
}

@media screen and (max-width:767px) {
    footer .footer_center li a {
        font-size: 0.13rem;
    }
}

footer .footer_center li a::before {
    content: "▶";
    color: #00A0B4;
    padding-right: 0.04rem;
    font-size: 0.08rem;
    position: relative;
    top: -0.02rem;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 0.12rem;
    padding-top: 0.5rem;
}

@media screen and (max-width:767px) {
    footer p {
        text-align: left;
        font-size: 0.1rem;
        padding-top: 0.3rem;
    }
}

footer .footer_right {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:767px) {
    footer .footer_right {
        width: 100%;
        display: block;
        padding-top: 0.3rem;
    }
}

.btn-social-long-insta {
    /*ボタンの下地*/
    color: #FFF;
    /*文字・アイコン色*/
    border-radius: 7px;
    /*角丸に*/
    position: relative;
    display: inline-block;
    height: 50px;
    /*高さ*/
    width: 190px;
    /*幅*/
    text-align: center;
    /*中身を中央寄せ*/
    font-size: 25px;
    /*文字のサイズ*/
    line-height: 50px;
    /*高さと合わせる*/
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    /*グラデーション①*/
    overflow: hidden;
    /*はみ出た部分を隠す*/
    text-decoration: none;
    /*下線は消す*/
}

.btn-social-long-insta:before {
    /*グラデーション②*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*全体を覆う*/
    height: 100%;
    /*全体を覆う*/
    background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}

.btn-social-long-insta .fa-instagram {
    /*アイコン*/
    font-size: 35px;
    /*アイコンサイズ*/
    position: relative;
    top: 4px;
    /*アイコン位置の微調整*/
}

.btn-social-long-insta span {
    /*テキスト*/
    display: inline-block;
    position: relative;
    transition: .5s
}


/*=============================
ページの先頭に戻る
=============================*/

#back_to_top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 0.6rem;
    height: 0.6rem;
    display: none;
}

@media screen and (max-width:767px) {
    #back_to_top {
        width: 0.4rem;
        height: 0.4rem;
    }
}

#back_to_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0084d1;
    opacity: 0.5;
}

#back_to_top a {
    display: block;
    cursor: pointer;
    color: white;
    font-size: .4rem;
}

#back_to_top:hover {
    opacity: 1;
}

.f-playfair {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.f-yumincho {
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.linkArea {
    padding: 1rem 0 0.98rem;
    border-top: 1px solid #D4D5D8;
}

.linkArea .list {
    display: flex;
}

.linkArea .list .item {
    width: calc((100% - 9.09%) /2);
}

.linkArea .list .item+.item {
    margin-left: 9.092%;
}

.linkArea .list .item .content {
    padding: 0.37rem 1rem 0;
    box-sizing: border-box;
}

.linkArea .list .item .content .ttl {
    font-size: 0.3rem;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 0.31rem;
}

.linkArea .list .item .content .ttl span {
    display: block;
    font-size: 0.2rem;
    line-height: 1;
    margin-top: 0.14rem;
}

.linkArea .more_btn a {
    font-weight: bold;
}

@media screen and (max-width:767px) {
    .linkArea {
        padding: 0.4rem 0 0.08rem;
    }
    .linkArea .container1100 {
        width: 100%;
        box-sizing: border-box;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .linkArea .list {
        flex-direction: column;
    }
    .linkArea .list .item {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        margin: 0 0 0.3rem;
    }
    .linkArea .list .item+.item {
        margin-left: 0;
        border-top: 1px solid #D4D5D8;
        padding-top: 0.3rem;
    }
    .linkArea .list .item h5 {
        width: 44.445%;
    }
    .linkArea .list .item .content {
        padding: 0.09rem 0 0.08rem 0.03rem;
        box-sizing: border-box;
        width: 55.555%;
    }
    .linkArea .list .item .content .ttl {
        font-size: 0.18rem;
        letter-spacing: 0.1em;
        margin-bottom: 0.17rem;
    }
    .linkArea .list .item .content .ttl span {
        font-size: 0.13rem;
        margin-top: 0.1rem;
    }
    .linkArea .list .item .content .link {
        max-width: 0.25rem;
    }
    .linkArea .list .item .content .link a {
        border-radius: 50%;
        padding: 0.115rem;
        background-position: 50% center;
    }
}


/*============================
下層　パンくずリスト
============================*/

.breadcrumbArea {
    width: 100%;
    padding: 12px 0;
    background: #f4f4f5;
    padding-left: 80px;
    box-sizing: border-box;
}

@media screen and (max-width:900px) {
    .breadcrumbArea {
        margin-top: 148px;
    }
}

.breadcrumbArea ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.breadcrumbArea ul li:not(:last-child) {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}

.breadcrumbArea ul li:not(:nth-last-child(-n+2))::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 36%;
    right: 0;
}

.breadcrumbArea ul li:nth-last-of-type(2) {
    bottom: -.5px;
}

.breadcrumbArea ul li a,
.breadcrumbArea ul li p {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

.breadcrumbArea ul li p {
    line-height: 1.4;
    transform: translateY(.5px);
}

@media screen and (max-width:768px) {
    .breadcrumbArea {
        padding-left: 20px;
        box-sizing: border-box;
        margin-top: 0px;
    }
}

@media screen and (max-width:480px) {
    .breadcrumbArea ul li p {
        transform: translateY(1px);
    }
}

@media screen and (max-width:375px) {
    .breadcrumbArea ul li a,
    .breadcrumbArea ul li p {
        font-size: 10px;
    }
}

[data-pararax01] [data-pararax01-opacity05].active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}


/* -----------------------------------------------------------------------------

モーション

----------------------------------------------------------------------------- */

[data-pararax01] {
    position: relative;
}

[data-pararax01] [data-pararax01-inview] {
    position: absolute;
    top: 270px;
    bottom: 270px;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

@media print,
screen and (min-width: 721px) and (max-height: 800px) {
    [data-pararax01] [data-pararax01-inview] {
        top: 120px;
        bottom: 120px;
    }
}

@media print,
screen and (min-width: 721px) and (max-height: 650px) {
    [data-pararax01] [data-pararax01-inview] {
        top: 50px;
        bottom: 50px;
    }
}

@media print,
screen and (max-width: 720px) {
    [data-pararax01] [data-pararax01-inview] {
        top: 230px;
        bottom: 230px;
    }
}

[data-pararax01] [data-pararax01-opacity01] {
    opacity: 0;
    -webkit-transition: opacity 0.8s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 0.8s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 0.8s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity01].active {
    opacity: 1;
}

[data-pararax01] [data-pararax01-opacity02] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity02].active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

[data-pararax01] [data-pararax01-opacity02] {
    -webkit-transform: translate(-20px, -7px);
    -ms-transform: translate(-20px, -7px);
    transform: translate(-20px, -7px);
}

[data-pararax01] [data-pararax01-opacity03] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity03].active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

[data-pararax01] [data-pararax01-opacity03] {
    -webkit-transform: translate(20px, 7px);
    -ms-transform: translate(20px, 7px);
    transform: translate(20px, 7px);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity04] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity04].active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

[data-pararax01] [data-pararax01-opacity04] {
    -webkit-transform: translate(0, 40px);
    -ms-transform: translate(0, 40px);
    transform: translate(0, 40px);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity05] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity05].active {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

[data-pararax01] [data-pararax01-opacity05] {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity06] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity06].active {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[data-pararax01] [data-pararax01-opacity06] {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity07] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity07].active {
    opacity: 1;
    -webkit-transform: translate(-40%, 0px);
    -ms-transform: translate(-40%, 0px);
    transform: translate(-40%, 0px);
}

[data-pararax01] [data-pararax01-opacity07] {
    -webkit-transform: translate(20px, 7px);
    -ms-transform: translate(20px, 7px);
    transform: translate(20px, 7px);
    backface-visibility: hidden;
}

@media screen and (max-width:767px) {
    [data-pararax01] [data-pararax01-opacity07].active {
        -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
}

[data-pararax01] [data-pararax01-opacity08] {
    opacity: 0;
    -webkit-transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    -o-transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    transition: opacity 1.0s, transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1), -webkit-transform 1.0s cubic-bezier(0.015, 0.54, 0.35, 1);
    backface-visibility: hidden;
}

[data-pararax01] [data-pararax01-opacity08].active {
    opacity: 1;
    -webkit-transform: translate(-.2rem, 0px);
    -ms-transform: translate(-.2rem, 0px);
    transform: translate(-.2rem, 0px);
}

[data-pararax01] [data-pararax01-opacity08] {
    -webkit-transform: translate(-.2rem, -20px);
    -ms-transform: translate(-.2rem, -20px);
    transform: translate(-.2rem, -20px);
    backface-visibility: hidden;
}

.opinviewElem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    pointer-events: none;
    opacity: 0;
}

@media print,
screen and (max-width: 720px) {
    .opinviewElem {
        height: 10px;
    }
}

.areaInview {
    position: absolute;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    top: 50vh;
    bottom: 100vh;
}